server:
  port: 8088

---

spring:
  profiles: default
  cloud:
    gateway:
      routes:
        - id: ebookmgmt-rent
          uri: http://localhost:8081
          predicates:
            - Path=/rents/** 
        - id: ebookmgmt-payment
          uri: http://localhost:8082
          predicates:
            - Path=/payments/** 
        - id: ebookmgmt-book
          uri: http://localhost:8083
          predicates:
            - Path=/books/** 
        - id: ebookmgmt-dashboard
          uri: http://localhost:8084
          predicates:
            - Path= /dashboards/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "*"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: true

server:
  port: 8088

---

spring:
  profiles: docker
  cloud:
    gateway:
      routes:
        - id: ebookmgmt-rent
          uri: http://ebookmgmt-rent:8080
          predicates:
            - Path=/rents/** 
        - id: ebookmgmt-payment
          uri: http://ebookmgmt-payment:8080
          predicates:
            - Path=/payments/** 
        - id: ebookmgmt-book
          uri: http://ebookmgmt-book:8080
          predicates:
            - Path=/books/** 
        - id: ebookmgmt-dashboard
          uri: http://ebookmgmt-dashboard:8080
          predicates:
            - Path= /dashboards/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "*"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: true

server:
  port: 8080